{% extends 'mycompany/base_mycompany.html' %}

{% block content %}

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2">My company</h1>
        <p class="mt-2">We think you haven't got company. Do you want to create a company's card? After that you can create vacancies</p>
        <a href="{% url 'MyCompanyStartCreateView' %}" class="btn btn-info mb-2">Create card of company</a>
      </div>
    </section>
  </main>

{% endblock %}