{% extends 'public/base.html' %}

{% block content %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <div class="d-flex align-items-baseline align-content-baseline justify-content-center">
            <h1 class="h1 mt-5 font-weight-bold" >Jobji</h1>
          </div>
            <p class="lead text-center mt-5" style="line-height: 1.8;">Post vacancies, look for work, inspire,
                be inspired by new discoveries in your job. We will help you find the best employee.
                We will help you find the best job on earth.
            </p>
        </section>
      </div>
    </div>
  </main>
{% endblock %}